@import 'src/styles/variables/color'

.checkbox 
    width: 100%
    display: grid
    grid-template-columns: auto auto 1fr
    align-items: center
    gap: 1.5rem
    
    padding: 1rem 1.5rem
    border: 1px solid $c4
    border-radius: .5rem
    cursor: pointer

    transition: all .3s

    .text_content 
        .title 
            font-weight: 500
            color: $c1
            margin-bottom: .5rem
        .subtitle
            color: $c2
            font-size: 0.9375rem
            line-height: 1.25rem

    .price 
        justify-self: flex-end
        color: $c7
        font-size: 0.9375rem
    
    &.active 
        border-color: $c7
        background: $c10

    &:hover
        border-color: $c7

    @media screen and ( max-width: 1024px )
        .text_content 
            .title
                margin-bottom: .25rem
                font-size: .875rem
            .subtitle
                font-size: .75rem