.form 
    display: grid
    grid-template-columns: 3fr 6fr
    gap: 6.25rem

    width: 65%
    aspect-ratio: 3/2
    background: #FFFFFF
    padding: 1rem
    border-radius: 0.93rem

    .content 
        padding: 2.5rem 5.25rem 1rem 0

    @media screen and ( max-width: 1024px )
        grid-template-columns: 1fr
        justify-content: center
        align-items: center
        
        .progress_bar 
            position: absolute
            top: 0
            left: 0

            width: 100%


        .content
            padding: 0


        