.form 
    display: grid
    grid-template-columns: 3fr 6fr
    gap: 6.25rem

    width: 65%
    aspect-ratio: 3/2
    background: #FFFFFF
    padding: 1rem
    border-radius: 0.93rem

    .content 
        padding: 2.5rem 5.25rem 1rem 0
