@import 'src/styles/variables/color'

.form_header
    margin-bottom: 2.1875rem
    .title 
        font-size: 2rem
        font-weight: 700
        color: $c1
        margin-bottom: 0.6875rem
    .subtitle 
        color: $c2