.formProgress 
    background-image: url("/src/assets/bg-sidebar-desktop.svg") 
    background-size: cover /* Faz a imagem cobrir todo o container */
    background-repeat: no-repeat /* Evita a repetição da imagem */
    background-color: #483EFF
    
    display: flex
    flex-direction: column
    gap: 2rem

    border-radius: 0.625rem
    overflow: hidden

    padding: 2.5rem 2rem


        