.personal_form 
    display: flex
    flex-direction: column
    height: 100%
    .form_header
        margin-bottom: 2.1875rem
        .title 
            font-size: 2rem
            font-weight: 700
            color: #022959
            margin-bottom: 0.6875rem
        .subtitle 
            color: #9699AA
    .input_container 
        display: flex
        flex-direction: column
        gap: 1.5rem
        flex: 1

    button 
        align-self: flex-end
        margin-top: auto